name: Android APK Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install buildozer
        sudo apt update
        # Install system dependencies required by buildozer for Android builds
        sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
        pip install --upgrade Cython==0.29.36 # Use a compatible Cython version

    - name: Build with Buildozer
      run: |
        buildozer android debug

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: android-apk
        path: bin/*.apk
